<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FunkkModInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FunkkModInstaller.Properties.Settings>
            <setting name="GameInstallPath" serializeAs="String">
                <value>??</value>
            </setting>
            <setting name="EnableEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteamExecPath" serializeAs="String">
                <value>??</value>
            </setting>
            <setting name="LaunchWithSteam" serializeAs="String">
                <value>True</value>
            </setting>
        </FunkkModInstaller.Properties.Settings>
    </userSettings>
</configuration>